<div class="row route-margin-top">
    <div class="container route-main">
        <h1>CONTACT</h1>
        <h4>Plesase contact us whenever you want.</h4>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-6 col-sm-12 weather-output-heading">
            <h2> Our Office <i class="fa fa-leanpub"></i>&nbsp; </h2>
            <address>
                <strong>Northeastern University</strong><br> Huntington
                Avenue, Boston<br> MA 02115<br> <i class="fa fa-phone"></i> + 1 (857) 234-8869
            </address>
            <div>
                <h2>Business hours</h2>
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th>Day</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="success">
                            <td>Monday</td>
                            <td>9:00 to 18:00</td>
                        </tr>
                        <tr class="success">
                            <td>Tuesday</td>
                            <td>9:00 to 18:00</td>
                        </tr>
                        <tr class="success">

                            <td>Wednesday</td>
                            <td>9:00 to 18:00</td>
                        </tr>
                        <tr class="success">

                            <td>Thursday</td>
                            <td>9:00 to 18:00</td>
                        </tr>
                        <tr class="success">

                            <td>Friday</td>
                            <td>9:00 to 18:00</td>
                        </tr>
                        <tr class="warning">

                            <td>Saturday</td>
                            <td>9:00 to 14:00</td>
                        </tr>
                        <tr class="danger">

                            <td>Sunday</td>
                            <td>day off</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div>
                <div class="weather-output-heading">
                    <h2>Location</h2>
                </div>
                <div class="panel-body">
                    <!-- gMap script container !Do not remove!! -->
                    <a href="https://www.google.com/maps/place/Northeastern+University/@42.339807,-71.089172,17z/data=!3m1!4b1!4m2!3m1!1s0x89e37a1999cf5ce1:0xc97b00e66522b98c"
                       target="_blank"><div id="map"></div></a>
                    <!-- gMap script container !Do not remove!! -->
                </div>
            </div>
        </div>
    </div>
</div>
