.index-footer {
    color: white;
    background-color: #b84d45;
    background-image: url(../../images/background.png);
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: larger;
    margin-right: 0px;
    margin-left: 0px;
    margin-top:150px;
}
