<div class="row route-margin-top">
    <div class="container route-main">
        <h1>WEATHER INFO</h1>
        <h4>It's always good to know the weather forecast before you leave your home.</h4>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 route-heading-color">
            <h2>Find Weather Info</h2>

            <div class="form-inline route-padding-bottom">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="">CITY</span>
                        <input class="form-control" ng-model="weatherCity" placeholder="Boston" id="source" />
                    </div>
                </div>
            </div>

            <div class="form-inline route-btn-top-pad">
                <button class="btn btn-success text-center route-btn-primary" ng-click="searchWeather()">
                    <span class="glyphicon glyphicon-search">&nbsp;Search</span>
                </button>
                <button class="btn btn-warning" ng-click="favWeather()" ng-show="currentUser">
                    <i class="fa fa-bookmark"></i>&nbsp;Bookmark
                </button>
            </div>
        </div>

        <div class="col-md-4 col-md-push-2">
            <div ng-show="currentUser">
                <h3>Your Saved Bookmarks</h3>
                <table class="table table-responsive table-condensed table-upper-border">
                    <tbody>
                        <tr ng-repeat="bm in weatherbookmarks">
                            <td>{{bm.bookmark}}</td>
                            <td>
                                <button class="btn btn-warning" ng-click="fetchWeatherPlaceDetails(bm)">
                                    <i class="fa fa-chevron-circle-down"> Detail</i>
                                </button>
                                <button class="btn btn-primary" ng-click="deleteWeatherBookmark(bm)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="!currentUser">
                <h3>Welcome, Guest</h3>You need to signin to bookmark
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row text-center" ng-show="showWeatherCheck">
        <h2 class="text-center">Your searched for <b class="sColor">{{searchCity}}</b></h2>
    </div>
</div>
<br />
<br />

<div class="row container text-center" ng-repeat="weather in weathers">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="background-image:url({{weather.weatherIconUrl[0].value}}); max-width:100%;max-height:100%; opacity:0.8;text-align:center;background-repeat:no-repeat;background-size:cover;font-size:200%;">
        <div class="h1-bold"><h3>{{imageCity}}</h3><h1 class="h1-bold">{{weather.temp_C}}<sup>o</sup>C</h1></div>
        <br />
        <br />
        <div class="h1-bold">{{weather.weatherDesc[0].value}}</div>
        <div class="h1-bold">Feels like: {{weather.FeelsLikeC}}<sup>o</sup>C</div>
        <div class="h1-bold">Humidity: {{weather.humidity}} %</div>
        <div class="h1-bold">WindSpeed: {{weather.windspeedKmph}} Km/hr</div>
    </div>
    <div class="col-lg-3"></div>
</div>

<br />

<div class="container">
    <div class="row container weather-output-heading" ng-show="showWeatherCheck">
        <h2>Forecasts</h2>
        <div class="container">
            <div class="col-lg-2 btn-success text-center weatherr-margin-right" ng-repeat="fW in futureWeather" style="float:left;">
                <div style="color:black;"><h3><b></b>{{fW.date}}</h3></div>
                <div><b>Sunrise:</b> {{fW.astronomy[0].sunrise}}</div>
                <div><b>Sunset:</b> {{fW.astronomy[0].sunset}}</div>
                <div><b>Min:</b> {{fW.mintempC}}<sup>o</sup>C</div>
                <div><b>Max:</b> {{fW.maxtempC}}<sup>o</sup>C</div>
                <br />
                <div class="text-center">
                    <button class="btn btn-warning" ng-click="fetchHourly(fW)">
                        <i class="fa fa-chevron-circle-down"> &nbsp; More</i>
                    </button>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row container" ng-show="showHourlyCheck">
        <h2>Hourly condition for : {{hourlydate}}</h2>
        <div class="row">
            <div class="text-center col-lg-2 hourlydivchanges" ng-repeat="fH in hourlyWeather">
                <div class="btn-warning" style="max-width:100%;max-height:100%;opacity:0.7;background-repeat:no-repeat;border:1px solid lightgray;">
                    <div class="row h1-bold"><h3 style="opacity:1;color:blue;">Time: {{fH.time}}</h3></div>
                    <br />
                    <div class="row"> <img ng-src="{{fH.weatherIconUrl[0].value}}" /></div>
                    <div class="row" style="opacity:1;color:#FF4000;font-size:200%"><b>{{fH.tempC}}<sup>o</sup>C</b></div>
                    <div class="row">{{fH.weatherDesc[0].value}}</div>
                    <div class="row" style="opacity:1;color:green;font-size:150%"><b>Visibility: {{fH.visibility}} Km</b></div>
                </div>
                
            </div>
        </div>
    </div>
</div>