.weather-output-heading h2{
    color:#b84d45 !important;
}

.weather-div{
    width:200px;
    height:200px;
    padding:20px;
    background-repeat:no-repeat;
    background-size:cover;
}

.celciustemp{
    font:bold;
    color:black;
    font-size:xx-large;
}

.h1-bold{
    opacity:1;
    color:black;
}

.weatherr-margin-right{
    margin-right:10px;
    margin-top:20px;
}

.hourlydivchanges{
    height:auto;
    width: 250px;
    margin-right:10px;
    margin-top:20px;
}