<header class="main-heading">
    <div class="container">
        <span class="brand-name"><b>Travel Guide</b></span>
        <h1>Route and Weather Information Service</h1>
        <p>
            Developed as part of CS5610 Web Developement Course
        </p>
        <a href="#/route" class="btn btn-more-info"><i class="fa fa-chevron-circle-right"></i> Route Information</a>
        &nbsp;&nbsp;&nbsp;
        <a href="#/weather" class="btn btn-more-info"><i class="fa fa-chevron-circle-right"></i> Weather Information</a>
    </div>
</header>

<div class="container home-quote">
    <div class="row text-center">
        <div class="col-lg-12">
            <h2 class="home-page-detail">It's free and easy to use.</h2>
            <p class="lead home-page-sub-detail">
                <i>
                    "The world is a book, and those who do not travel read only a page."
                </i>
            <p class="left"> - Saint Augustine</p>
            </p>
            <hr class="small">
        </div>
    </div>
</div>

<div class="row home-main-content">
    <div class="container">
        <div class="col-lg-4 col-sm-6">
                <p><img src="../../images/travel.jpg" class="img-responsive" alt="Travel Image" /></p>
        </div>

        <div class="col-lg-8 col-sm-6">
            <div class="home-route-content">
                <h1>Route Finder</h1>
                <p>
                    Experience new world by looking all options to visit cities of your dream.
                    You can save your cities for future reference.
                </p>
                <a href="#/route" class="btn btn-more-info"><i class="fa fa-chevron-circle-right"></i> Go to Route page</a>
            </div>
        </div>
    </div>
</div>

<div class="row home-weather-content">
    <div class="container">
        <div class="col-lg-8 col-sm-6">
            <div class="home-route-content weather-color">
                <h1>Weather Info</h1>
                <p>
                    You can see current and future weather details for you reference.
                    You can save this information to refere in future.
                </p>
                <a href="#/weather" class="btn btn-more-info"><i class="fa fa-chevron-circle-right"></i> Go to Weather page</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 weather-image-responsive text-center">
            <p><img src="../../images/weather.jpg" class="img-responsive" alt="Weather Image" /></p>
        </div>
    </div>
</div>

<div class="row text-center social-icons">
    <a href="http://www.facebook.com/abhishek.tewary.5" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="http://twitter.com/ATSpeaks" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="http://plus.google.com/+Abhishek1988" target="_blank"><i class="fa fa-google-plus"></i></i></a>
    <a href="http://github.com/abhis88/CS5610-Project-Travel-Guide" target="_blank"><i class="fa fa-github-alt"></i></a>
</div>