
<div class="homePageDiv">
</div>
<div class="marketing">
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="img-circle" src="images/gallery.jpg">
            <h2>Gallery</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book.
            </p>
            <p>
                <a class="btn btn-default" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="images/route.jpg">
            <h2>Route Finder</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book.
            </p>
            <p>
                <a class="btn btn-default" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="images/weather1.jpg">
            <h2>Weather</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book.
            </p>
            <p>
                <a class="btn btn-default" href="#">View details »</a>
            </p>
        </div>
    </div>
</div>